@media (max-width: 800px) {
  body {
    width: 100dvw;
  }
  nav {
    width: 100vw;
  }
  nav a {
    display: none;
  }
  p {
    text-indent: 0px;
    padding: 0px;
    width: 90%;
    justify-self: center;
    line-height: 1.6;
  }
  ul,
  ol {
    padding-left: 0;
  }
  #menu-button {
    display: flex;
    height: 100%;
    border: none;
    background: transparent;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
  }
  #menu-button svg {
    width: 40px;
    height: 40px;
    transition: 250ms;
  }
  h2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .container-left-card,
  .container-right-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: none;
    gap: 0;
  }
  .lateral-card {
    grid-row: 3;
    grid-column: span 2;
    margin-top: 20px;
    width: 80dvw;
    justify-self: center;
  }
  .container-left-card p,
  .container-right-card p {
    grid-column: 1;
    grid-column: span 2;
  }
}
@media (max-width: 1000px) {
  main,
  footer {
    width: 100vw;
    border-radius: 0px;
  }
  footer{
    padding: 5vw;
    word-break: break-all;
  }
}
